<div class="col-sm-9">
  <div class="no-room-selected" ng-show="!roomId">
    <h1>Select a room</h1>
  </div>
  <div class="room-header" ng-show="roomId">
    <h1>
      {{ roomName }}
      <a><span class="ion-gear-b settings" ng-show="private"></span></a>
    </h1>
  </div>
  <div class="room-body">
    <div ng-repeat="message in messages">
      <div class="room-message-even" ng-show="$index %2 == 0">
        <h5>{{ message.username }}</h5>
        <table class="message-table">
          <tr>
            <td width="80%">{{ message.content }}</td>
            <td width="20%" class="message-table-time">{{ message.setAt }}</td>
          </tr>
        </table>
      </div>
      <div class="room-message-odd" ng-show="$index %2 == 1">
        <h5>{{ message.username }}</h5>
        <table class="message-table">
          <tr>
            <td width="80%">{{ message.content }}</td>
            <td width="20%" class="message-table-time">{{ message.setAt }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="room-footer">
    <button type="button" name="edit-user" ng-click="login()" ng-show="currentUser" class="user-edit btn btn-primary">
      <span class="ion-edit"> {{ currentUser.userName }}</span>
    </button>
    <div class="message-textarea-container">
      <textarea bc-enter="sendMessage()" ng-model="chatMessage" class="message-textarea" placeholder="Type your message..."></textarea>
    </div>
    <button class="message-send btn btn-primary" ng-click="sendMessage()">Send</button>
  </div>
</div>
