.room {
  height: 100%;
  margin-right: 10px;
}

.room-header {
  position: relative;
  height: 75px;
}

.room-body {
  position: fixed;
  top: 75px;
  bottom: 50px;
  overflow: scroll;
}

.room-footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: inherit;
  z-index: 1;
  background-color: #FFFFFF;
  border-top: 1px solid black;
}

.no-room-selected {
  position: relative;
  height: 100%;
  top: 30%;
  text-align: center;
}

.message-table {
  table-layout: fixed;
  width: 100%;
}

.message-table-time {
  text-align: right;
}

.room-message-even,
.room-message-odd {
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px 10px;
  position: relative;
}

.room-message-odd {
  background-color: #EEEEEE;
}

.room-message-even {
  background-color: #FFFFFF;
}

.message-textarea-container {
  position: absolute;
  left: 150px;
  right: 100px;
  top: 5px;
  bottom: 5px;
}

.message-textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 110%;
}

.message-send {
  position: absolute;
  right: 15px;
  width: 80px;
  top: 5px;
  bottom: 5px;
}

.user-edit {
  position: absolute;
  left: 5px;
  width: 140px;
  top: 5px;
  bottom: 5px;
}

.temp-logout {
  position: fixed;
  left: 10px;
  bottom: 150px;
}

@media (max-width: 640px) {
  .room-header {
    position: relative;
  }
  .room-body {
    position: relative;
    padding-bottom: 50px;
    overflow: scroll;
  }
  .room-footer {
    width: 100%;
  }
  .message-textarea-container {
    left: 100px;
  }
  .user-edit {
    width: 90px;
  }
}
