.room-header {
  position: fixed;
  top: 0;
  height: 75px;
  right: 0;
  width: inherit;
  border-bottom: 1px solid black;
}

.room-body {
  position: fixed;
  top: 75px;
  bottom: 50px;
  right: 0;
  width: inherit;
  overflow: scroll;
}

.room-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 50px;
  width: inherit;
  z-index: 1;
  background-color: #FFFFFF;
}

.no-room-selected {
  position: fixed;
  height: 100%;
  width: 75%;
  right: 0;
  margin: auto;
  text-align: center;
}

.settings {
  position: absolute;
  right: 10px;
  color: rgb(255, 171, 0);
}

.settings:hover {
  color: rgb(156, 103, 0);
}

.message-table {
  table-layout: fixed;
  width: 100%;
}

.message-table-time {
  text-align: right;
}

.room-message-even,
.room-message-odd {
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px 10px;
  position: relative;
  border-bottom: 1px solid black
}

.room-message-odd {
  background-color: #FFFFFF;
}

.room-message-even {
  background-color: rgb(226, 226, 226);
}

.message-textarea-container {
  position: absolute;
  left: 150px;
  right: 100px;
  top: 5px;
  bottom: 5px;
}

.message-textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 110%;
}

.message-send {
  position: absolute;
  right: 15px;
  width: 80px;
  top: 5px;
  bottom: 5px;
}

.user-edit {
  position: absolute;
  left: 5px;
  width: 140px;
  top: 5px;
  bottom: 5px;
}

.temp-logout {
  position: fixed;
  left: 10px;
  bottom: 150px;
}

@media (max-width: 768px) {
  .room-header {
    position: relative;
    height: auto;
  }

  .room-body {
    position: relative;
    padding-bottom: 50px;
    overflow: scroll;
    top: auto;
    padding-top: 75px;
  }

  .room-footer {
    width: 100%;
  }

  .message-textarea-container {
    left: 100px;
  }

  .user-edit {
    width: 90px;
  }

  .no-room-selected {
    width: 100%;
  }
}
