<div class="modal-header">
  <h4>
    New Room
    <a class="close" ng-click="cancel()"><span class="ion-close"></span></a>
  </h4>
</div>
<div class="modal-body">
  <form name="addRoom" ng-submit="submit()">
    <input type="text" ng-model="roomName" placeholder="Room name..." class="form-control">
    <p>
      Private room?
      <input type="checkbox" ng-model="private" ng-show="admin">
      <input type="submit" value="Add" class="btn btn-sm btn-primary pull-right">
    </p>
  </form>
</div>
